{% extends "pages/base.html" %}
{% load static %}

{% block title %}تم إرسال طلبكم بنجاح{% endblock %}

{% block extra_head %}
<link href="{% static 'enrollment/css/subscribe_success.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="panel" id="success-panel">
  <div class="icon-badge"><iconify-icon icon="mdi:check-decagram-outline"></iconify-icon></div>
  <h1>تم استلام طلب تسجيلكم بنجاح</h1>
  <p>سيتصل بكم فريقنا قريبا لتأكيد التسجيل وتزويدكم بالتفاصيل الكاملة حول التكوين.</p>

  <ul class="steps">
    <li><iconify-icon icon="mdi:phone-check-outline"></iconify-icon> سيتواصل معكم أحد أعضاء الفريق خلال 48 ساعة عمل.</li>
    <li><iconify-icon icon="mdi:file-document-check-outline"></iconify-icon> يرجى تحضير الوثائق المطلوبة (بطاقة التعريف، الشهادات).</li>
    <li><iconify-icon icon="mdi:calendar-clock-outline"></iconify-icon> ستُعلمون بتاريخ ومكان بداية التكوين عند التأكيد.</li>
  </ul>

  <a href="{% url 'enrollment:catalog' %}" class="cta"><iconify-icon icon="mdi:arrow-left-circle-outline"></iconify-icon> العودة إلى قائمة التخصصات</a>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'enrollment/js/subscribe_success.js' %}"></script>
{% endblock %}
